.tech-animating-section {
    height: 50vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.tech-animating-icons {
    height: 30vh;
    width: 100vw;
    animation-name: tech-icons-animation;
    animation-duration: 21s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tech-animating-icons > * {
    display: block;
    height: 20vh;
    width: 10vw;
}

@keyframes tech-icons-animation {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(120vw);
    }
}
.contact-me {
    height: 13rem;
    width: 100%;
    background-color: #40539e;
    /* padding-top: .5rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tag-line {
    height: 4rem;
    /* top: 2rem; */
    color: rgb(154, 154, 250);
    text-align: center;
    font-size: 1.2rem;
    font-family: Verdana, Tahoma, sans-serif;
    font-style: italic;
    padding-top: 2rem;
}

.media {
    padding-top: 4rem;
    width: 21rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.media img {
    width: 2.6rem;
}

.media img:hover {
    transform: scale(1.05);
}


@media only screen and (max-width: 600px) {

    .tech-animating-icons > * {
        display: block;
        height: 15vh;
        width: 30vw;
    }

    @keyframes tech-icons-animation {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(100%);
        }
    }

    .media {
        padding-top: 5rem;
        width: 17rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .media img {
        width: 2.3rem;
    }

    .tag-line {
        font-size: .9rem;
    }

}