.dot-div {
    height: .1rem;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dot-div div {
    height: .7rem;
    width: .7rem;
    margin:.3rem;
    background-color: lightgray;
    border-radius: 1rem;
}

.proj {
    height: 170rem;
    /* border: 4px solid black; */
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    height: 30rem;
    width: 100%;
    /* border: 4px solid black; */
    /* padding-top: 2rem; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.pro {
    width: 40%;
    height: 30rem;
    border-radius: .4rem;
    overflow: hidden;
}

.pro-1 {
    width: 50%;
    height: 26rem;
    background-image: linear-gradient(to right, rgb(240, 136, 171), rgb(250, 171, 147));
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pro-1:hover {
    /* background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% ); */
}


.pro-1-img {
    width: 40%;
    height: 20rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pro-1-img img {
    width: 100%;
    height: 20rem;
}

.pro-1-img:hover {
    transform: scale(1.012);
    cursor: pointer;
}

.pro-2 {
    width: 50%;
    height: 26rem;
    background-image: linear-gradient(to right, #a0f4c2, #fcd57a);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pro-2-img {
    width: 40%;
    height: 20rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pro-2-img img {
    width: 100%;
    height: 20rem;
}

.pro-2-img:hover {
    transform: scale(1.012);
    cursor: pointer;
}

.pro-3 {
    width: 50%;
    height: 26rem;
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgb(148, 157, 245) 91.1% );
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pro-3-img {
    width: 40%;
    height: 20rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pro-3-img img {
    width: 100%;
    height: 20rem;
}

.pro-3-img:hover {
    transform: scale(1.012);
    cursor: pointer;
}

.pro-4 {
    width: 50%;
    height: 26rem;
    background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pro-4-img {
    width: 40%;
    height: 20rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pro-4-img img {
    width: 100%;
    height: 20rem;
}

.pro-4-img:hover {
    transform: scale(1.012);
    cursor: pointer;
}

.pro-5 {
    width: 50%;
    height: 26rem;
    background-image: linear-gradient( 109.6deg, #05c6af , #b8e667  );
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pro-5-img {
    width: 35%;
    height: 16rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pro-5-img img {
    width: 100%;
    height: 16rem;
}

.pro-5-img:hover {
    transform: scale(1.012);
    cursor: pointer;
}


.pro-name {
    /* text-align: center; */
    margin: 1.5rem;
    font-size: 2rem;
    font-family: Impact;
    /* border: 1px solid gray; */
    font-style: italic;
}


@media only screen and (max-width: 600px) {
    .proj {
        height: 250rem;
    }

    .row {
        height: 43rem;
        width: 100%;
        /* border: 4px solid black; */
        /* padding-top: 2rem; */
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .pro {
        width: 90%;
        height: 25rem;
        border-radius: .16rem;
        overflow: hidden;
    }

    .pro-img {
        width: 83%;
        height: 13rem;
        border-radius: .15rem;
    }

    .pro-img img {
        height: 13rem;
    }

    .row-2 {
        flex-direction: column-reverse;
    }
    
    .row-4 {
        flex-direction: column-reverse;
    }

    .pro-name {
        margin: 1.5rem;
        font-size: 1.6rem;
        font-family: Impact;
        font-style: italic;
    }
}